body{
    background-color: rgb(36, 36, 36);
    margin: 0;
    padding: 0;
}
div{
    ackground-color: rgb(212, 0, 0);
    height: 40px;
    width: 100%;
    border: none;
   
   
}
.logo{
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: contain ;       
    padding-left: 120px;
    display: flex;                    
    align-items: center;              
    font-size: 10px;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;    
}

.azul{
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    background-color: rgb(1, 1, 156);
    

}
.link{
    color: rgb(55, 146, 231);
    margin-left: 60px;
    margin-top: 10px;
    height: 30px;
}
.cartas{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
    color: aliceblue;
}
.buscar{
    background-color: grey;
    margin: auto;
    margin-top: 20px;
    width: 1230px;
    height: 150px;
}
.hr{
    width: 1230px;
  
}