body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    }
.contenidor{
    width: 1716px;
    margin: auto;
}
 .nav{
    height: 166px;    
 }
 .friends{
    height: 180px;
    width: 1300px;
    margin: auto;
 }

 .pics{
    width: 1716px;
    background-color: red;
 }
 
 .logo{
    width: 209px;
    height: 39px;
    float: left;
    background-image: url(../img/logo.jpg);
    margin-top: 50px;
 }

 .menu{

    width: 304px;
    height: 47px;
    float: left ;
    margin:50px 0 0 497px;
 }

 .perfil{
    width: 80px;
    height: 120px;
    margin: 20px;
    text-align: center;
    float: left;
    background-position: center;
  
}
.foto{
    width: 80px;
    height: 80px;
    opacity: 1;
    background-position: center;
    background-image: url(../img/perfil_Genis.png);
    border-radius: 50%;
    box-shadow:   inset 3px 0 2px black;
    border: orange 5px solid;
  
}
.foto:hover{
    opacity: 0.6;
}
.afegir{
    width:20px ;
    height:20px ;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    left: 60px;
    top: -70px;
    color: rgb(255, 255, 255);
    line-height: 20px;
    text-align: center;
    

}
.menu ul{
    margin: 0;
}
.menu ul li {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 10px;
    display: block;
    background-image: url(../img/menu.jpg);


}
.menu ul li:hover{
    opacity: 0.2;
    display: block;
}


.inici{
    background-position: -7px  -7px
}
.cerca{
    background-position: -90px -7px  
}
.directes{
    background-position: -175px -7px 
}
.favorits{
    background-position: -260px -7px  
}
.juju{
     background-image: url(../img/perfil_juju.png);
}
.genis{
     background-image: url(../img/perfil_Genis.png);
}
.iris{
    background-image: url(../img/perfil_iris.png);
}
.nana{
    background-image: url(../img/perfil_NANA.png);
}
.tolguish{
    background-image: url(../img/perfil_Tolga.png);
}
.jana{
    background-image: url(../img/perfil_jana.png);
}
.alba{
    background-image: url(../img/perfil_alba.png);
}
.miki{
    background-image: url(../img/perfil_miki.png);
}
.ana{
    background-image: url(../img/perfil_ana.png);
}
.vane{
    background-image: url(../img/perfil_Vane.png);
}
.post{
    width: 536px;
    height: 620px;
    margin: 18px;
    float: left;
    background-color: pink;
}

.imatge{
width: 536px;
height: 536px;
background-image:url(../img/ifpagram_14.jpg)}


.info{
width: 268px;
height: 84px;
background-color: bisque;
float: left;
margin-top:20px;
}
.reaccions{
width: 268px;
height: 84px;
background-color: brown;
float: right;
margin-top: 10px;
}

.i1{
background-image:url(../img/ifpagram_14.jpg)}


.i2{
    background-image:url(../img/ifpagram_17.jpg)}

.i3{
background-image:url(../img/ifpagram_19.jpg)}


.i4{
background-image:url(../img/ifpagram_24.jpg)}


.i5{
background-image:url(../img/ifpagram_25.jpg)}


.i6{
background-image:url(../img/ifpagram_26.jpg)}


.i7{
background-image:url(../img/ifpagram_30.jpg)}


.i8{
background-image:url(../img/ifpagram_31.jpg)}

.i9{
background-image:url(../img/ifpagram_32.jpg)}

.likes{
    float: right;
    text-align: right;
    background-color: aqua;
    height: 50px;
    width: 80px;
}

.autor{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: antiquewhite;
    background-size: cover;
    background-image: url(../img/perfil_Genis.png);
    border-radius: 50%;
    float: left; 
}

.usuari, .quan{
    height: 25px;
    width: 198px;
    margin: 10px 0 0 0;
    float: left;
}

.quan{
    height: 25px;
    width: 198px;
    margin: 0;
    float: left;
    color: gray;
    font-size: 12px;
}

input[type=checkbox]{
  visibility:hidden;
}

.cor{
  margin:0;
  width:1rem;
  height: 1rem;
  background-image: url(https://www.svgrepo.com/show/95200/favourite-heart.svg);
  background-size:1rem 1rem;
  position:relative;
  float: right;
}

.cor label{
  display:block;
  width:1rem;
  height:1rem;
  cursor: pointer;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/86/A_perfect_SVG_heart.svg);
  background-size:1rem 1rem;
}
.cor input[type=checkbox]:checked+label{
  opacity:1;
}
