body{
    background: black;
    margin: 0;
}

.fulla{
height: 100px;
width: 100px;
border-radius: 100% 0  100% 0;
top: 50px;
left: 150px;
position: absolute;
transform-origin: 0 100px;
background-image: linear-gradient( rgb(255, 255, 255), black);
}

.flor{
    width: 300px;
    height: 300px;
    position: relative;
    nimation: 10s rotacio linear infinite ;
    
}

.f1{
    transform: rotate(0deg);
   
}

.f2{
    transform: rotate(60deg);
 
}

.f3{
    transform: rotate(120deg);
  
}

.f4{
    transform: rotate(180deg);
 
}
.f5{
    transform: rotate(240deg);
   
}
.f6{
    transform: rotate(300deg);
  
}
.f6{
    transform: rotate(300deg);
  
}
.f7{
    top: 300px;
    background: rgb(0, 255, 0);
}

.cor{
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    top: 125px;
    left: 125px;
    position: absolute;
    transform-origin: 0.8 100px;
    background-image: radial-gradient( rgb(255, 0, 204), black);
}

@keyframes rotacio{
    0%{
transform:rotate(0deg);
    }
    100%{
transform:rotate(360deg);
    }
}

.tall{
    margin: 0;
    width: 25px;
    height: 500px;
    background: rgb(255, 255, 255);
    top: 125px;
    left: 137.5px;
    position: absolute;
    transform-origin: 0.8 100px;
    border-radius: 50%;
    background-image: linear-gradient( rgb(0, 255, 38), rgb(114, 164, 114));
}
.conjunto{
    position: relative;
    width: 300px;
    height: 700px;
}

.flor:hover{
      animation: 10s rotacio linear infinite ;
}
