
body{
    background-color: #222;
    margin: 0;
    padding: 0;
 
}
.margen{
   height: 60px;
}
.prueba{
   font-size: 22px;
    color: white;
    font-family: Helvetica, sans-serif;
       float: left;
    margin-left: 10px;
    margin-right: 10px;
}


.contenidor{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.facebook{
font-size: 15px;
float: inline-end;
margin-right: 170px;
color: white;
}
.fijo{
   position: fixed;
    word-wrap: break-word;
    border:3px solid black;
}
.colorarriba{
   margin: 0;
   margin-left: 0;
   margin-right: 0;
   padding: 0;
   background: black;
   width: 100%; 
}
.arriba{

    background-image: url(imatges/logo.png);
    background-repeat: no-repeat;
    background-size:-80% ;       
    padding-left: 110px;
    align-items: center;              
    font-size: 20px;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;  
    height: 50px;
  margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.fotos{
    
    height: 260px;
    width: 175px;
    border-radius: 5px;
}
.debajo{
    color: white;
font-size: 14px;
font-family:Helvetica, sans-serif;
height: 40px;
width: 175px;  
font-weight: bold;
}
.año{
    margin-top: 5px;
    font-size: 11px;
    float: left;
}
.documental{
margin-top: 5px;
margin-left: 10px;
font-size: 11px;
float: right;
}

 .ytuque{
 background-image:url(imatges/2004YTuQueSabes.jpg);}

 .earth{
    background-image: url(imatges/2005Earthlings.jpg);
 }

  .helvetica{
    background-image: url(imatges/2007Helvetica.jpg);
 }
  .sicko{
    background-image: url(imatges/2007Sicko.jpg);
 }
  .zeit{
    background-image: url(imatges/2008Zeitgeist2.jpg);
 }
  .art{
    background-image: url(imatges/2005Earthlings.jpg);
 }
  .earth{
    background-image: url(imatges/2009ArtAndCopy.jpg);
 }
  .home{
    background-image: url(imatges/2009Home.jpg);
 }
  .rip{
    background-image: url(imatges/2009RipARemixManifesto.jpg);
 }
  .comprar{
    background-image: url(imatges/2010ComprarTirarComprar.jpg);
 }
  .inside{
    background-image: url(imatges/2010InsideJob.jpg);
 }
  .doctrina{
    background-image: url(imatges/2011LaDoctrinaDeShock.jpg);
 }
  .man {
    background-image: url(imatges/2009RipARemixManifesto.jpg);
 }
  .act{
    background-image: url(imatges/2012TheActOfKilling.jpg);
 }
  .espiritu{
    background-image: url(imatges/2013ElEspirituDel45.jpg);
 }

 .vistos{
    filter: grayscale(1);

 }

.koya{
   background-image:url(imatges/1982Koyaanisqatsi.jpg);
   }

 .koya:hover{
   opacity: 50%;
   background-image:url(imatges/1982Koyaanisqatsi.jpg);
   }

 .ytuque:hover{
   opacity: 50%;
 background-image:url(imatges/2004YTuQueSabes.jpg);}

 .earth:hover{
   opacity: 50%;
    background-image: url(imatges/2005Earthlings.jpg);
 }

  .helvetica:hover{
   opacity: 50%;
    background-image: url(imatges/2007Helvetica.jpg);
 }
  .sicko:hover{
   opacity: 50%;
    background-image: url(imatges/2007Sicko.jpg);
 }
  .zeit:hover{
   opacity: 50%;
    background-image: url(imatges/2008Zeitgeist2.jpg);
 }
  .art:hover{
   opacity: 50%;
    background-image: url(imatges/2005Earthlings.jpg);
 }
  .earth:hover{
   opacity: 50%;
    background-image: url(imatges/2009ArtAndCopy.jpg);
 }
  .home:hover{
   opacity: 50%;
    background-image: url(imatges/2009Home.jpg);
 }
  .rip:hover{
   opacity: 50%;
    background-image: url(imatges/2009RipARemixManifesto.jpg);
 }
  .comprar:hover{
   opacity: 50%;
    background-image: url(imatges/2010ComprarTirarComprar.jpg);
 }
  .inside:hover{
   opacity: 50%;
    background-image: url(imatges/2010InsideJob.jpg);
 }
  .doctrina:hover{
   opacity: 50%;
    background-image: url(imatges/2011LaDoctrinaDeShock.jpg);
 }
  .man:hover {
   opacity: 50%;
    background-image: url(imatges/2009RipARemixManifesto.jpg);
 }
  .act:hover{
   opacity: 50%;
    background-image: url(imatges/2012TheActOfKilling.jpg);
 }
  .espiritu:hover{
   opacity: 50%;
    background-image: url(imatges/2013ElEspirituDel45.jpg);
 }

 .pendents{
   background: rgb(180, 0, 0);
   width: 175px;
   height: 265px;
   border-radius: 5px;
 }
 .vistesa{
    background: rgb(74, 74, 74);
   width: 175px;
   height: 265px;
   border-radius: 5px;
 }

 .seguint{
       background: rgb(117, 141, 0);
   width: 175px;
   height: 265px;
   border-radius: 5px;
 }

  .sseguint{
       background: rgb(153, 153, 153);
   width: 175px;
   height: 265px;
   border-radius: 5px;
 }