body{
    margin: 0;
    font-family: helvetica;
}
h1 {
    color: orange;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(136, 89, 1); 
}
.contenidor{
    width: 1280px;
   margin: auto;
}
.cap{
    height: 120px;
}
.cos{
    overflow: auto;
    overflow: hidden;
    overflow: visible;
    overflow: scroll;
    height: 800px;
}

.peu{
    height: 300px;
    background-color: black;
}

li{
    background-color: rgb(221, 255, 228);
    height: 50px; 
    width: 180px;
    margin:10px;
    float: left;
}

.esquerra,.dreta,.centre{
width:20%;

float: left;
}
.esquerra{
}
.centre{
    background-color: orange;
    width: 60%;
    overflow: scroll;
    height: 600px;
}
.dreta{
    background-color: green;
}
p{
    text-indent: 50px;
    padding:10px;
}



/* Codi del menu hamburguesa */

#alternador {
  width:5rem;
  height:5rem;
  background:black;
  position:absolute;
  top: 0.5rem;
  left:0.5rem;
  border-radius: 0.5rem;
}

#alternador b {
  display: block;
  width:4rem;
  height:0.5rem;
  background:white;
  margin-bottom:0.5rem;
  margin-left:0.5rem;
}

input[type="checkbox"] {
  visibility: hidden;
}

*{
  font-family:Arial, Sans-serif;
}
#alternador ul{
  margin-top:4rem;
  padding:0;
  width:15rem;

}

#alternador li{
  list-style-type:none;
  border: 2px white solid;
  line-height:2rem;
  width:100%;
  text-align:center;
  border-radius:3rem;
  background:black;
    height: 3rem; 
    width: 180px;
    margin:0 auto;
    float: none;
}

#alternador a{
  font-weight:bold;
  text-transform: uppercase;
  text-decoration:none;
  color:white;
  height:100%;
}

#alternador li:hover{
  background: grey;
  box-shadow: inset 0 5px 5px black;
  
}

#alternador .desplega{
  position:absolute;
  left: -20rem;
  opacity:1;
  transition: all .5s ease;
}

#alternador label{
  width:5rem;
  height:4rem;
  position:absolute;
  top:0;
  left:0;
  border-radius:0.5rem;
  cursor: pointer;
  padding-top:1rem;
  transition: all .5s ease;
}
#alternador h1{
  text-align:center;
}
#alternador input[type=checkbox]:checked+label {
  opacity:1;
}
#alternador input[type=checkbox]:checked+label~.desplega{
  left:0;
}